<!DOCTYPE html>
<html>
  <head>
    <title>Salty Putato Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render partial: 'spree/shared/head' %>
  </head>

  <body>
    <%= render partial: 'spree/shared/header' %>
    <div id="overlay" class="overlay hide-on-esc"></div>
    <div data-hook>
      <main id="content" data-hook>
        <%= flash_messages %>
        <div class='cms-container'>
          <%= Layout::Cell::CmsNavbar.() %>
          <div class='cms-body-container'>
            <%= yield %>
          </div>
        </div>
      </main>
    </div>

    <%= render partial: 'spree/shared/footer' %>
    <%= render 'spree/shared/translations' %>
  </body>
</html>
